<table>
<th><h1><strong>All Users</strong></h1></th1>

<div class="paginate"><%= paginate @users %></div>
<% @users.each do |user| %>
  <tr>
    <td>Email: <%= user.email %>   </td>
    <td>Full Name: <%= user.full_name %>   </td>
    <td>Admin: <%= user.admin %>   </td>
    <td>Created At: <%= user.created_at %>   </td>
    <td>Last Update: <%= user.updated_at %>   </td>
    <td><%= link_to "edit", edit_admin_user_path(user) %></td>
    <td> <%= link_to "delete", user_path(user), method: :delete, data: { confirm: "You sure?" } %></td>
  </tr>
<% end %>
</table>
<p class="new-user"><%= link_to "Create a New User", new_admin_user_path %></p>

